* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #645df7;
    --secondary-color: #6733c2;
    --escuro: #121b31;
    --claro: #fff;
    --vidro: rgba(15,23,42,0.8);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15,23,42,0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}


.menu-link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}


.menu-link::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg,  var(--primary-color), var(--secondary-color));
    transition: width 0.5s ease;
}

.menu-link:hover::after{
    width: 100%;
}